html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../res/splash.png');
    background-color: #F4B400;
    background-size: cover;

}

#keep-webview {
    position: absolute;
    width: 100%;
    height: 100%;
}